tr {
    color: rgb(255, 255, 255);
  }
  h3{
    color: rgb(255, 255, 255)
  }
 body{
background-image: url("https://live.staticflickr.com/206/502470343_461feba621_b.jpg");
 }
.contenedorPrincipal {
	margin-top: 80px;
 }
 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

 /*flexbox*/


.flexbox{
	display: flex;
  margin: 0;
}

#aside{
	background-color: #000000;
	width: 300px;
}

/*a renegar!! (aside)*/

.inactive{
    display: none;
}


.individual{
  padding-top: 1px;
  margin: 0;
  padding-left: 100px;
  font-style: italic;
  color: aliceblue;
}