tr {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
  h3{
    color: rgb(0, 0, 0)
  }
 /*body{
background-image: url("https://live.staticflickr.com/206/502470343_461feba621_b.jpg");
 }*/
.contenedorPrincipal {
	margin-top: 80px;
  
 }
 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

 /*box*/

.box{
  position: absolute;
  padding: 30px;
  width: 100%;
  background-color: rgb(68, 67, 67);
  border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

#aside{
  background-color: rgb(50, 50, 50);
  position: sticky;
  float: right;
  height: 800px;
  width: 200px;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}
/*a renegar!! (aside)*/

.inactive{
    display: none;
}


.individual{
  padding-left: 25px;
  font-style: italic;
  color: aliceblue;
  margin: 0;
  height: 12px;
}


